<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuddyBuildSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BuddyBuildSDKBuild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BuddyBuildSDKExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83D0EAE31B20EE52001A95A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D0EAFF1B20EE52001A95A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D0EB1A1B217E94001A95A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D0EB351B221BD2001A95A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
